<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="bootstrap-4.5.3-dist/css/bootstrap.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="bootstrap-4.5.3-dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link href="stylesheet.css" rel="stylesheet"/>
    <title>Registrati a ProLesson</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<blockquote class="blockquote text-center">
    <h3>Registrati</h3>
</blockquote>
<div class="container">

    <div class="col">
        <form>
            <div class="form-group" id="SigIn">
                <span v-if="seen_success" class="successLog"> Nuovo utente registrato correttamente </span>
                <span v-if="seen_pw" class="errLog"> Le password inserite sono diverse </span>
                <span v-if="seen_user" class="errLog"> Nome utente già esistente </span>
                <input v-model="account" class="form-control" id="inputUsername" aria-describedby="emailHelp" placeholder="Username">
                <input v-model="password" type="password" class="form-control" id="inputPassword" placeholder="Password">
                <input v-model="conf_pw" type="password" class="form-control" id="controlPassword" placeholder="Password">
                <br>
                <button type="button" class="btn btn-primary btn-lg btn-block" v-on:click="sendSig" >Registrati</button>
            </div>
            <br>
        </form>
    </div>

    <script src="sigin.js"></script>

</div>
<footer>
    <blockquote class="blockquote text-center">
        <p class="text-secondary"> ProLesson © 2021-2022 </p>
    </blockquote>
</footer>


</body>
</html>